assets/common/js/strings.js
assets/web/app.css
assets/web/js/config.js
assets/web/templates.js
assets/web/js/bootstrap.js
assets/iphone/app.css
assets/iphone/js/config.js
assets/iphone/templates.js
assets/iphone/js/bootstrap.js