html
    head
        title mott - get things done.
    body
        h1 mott

        h2 start
            :markdown

                The easiest way

                    mkdir myapp && npm install -g mott && mott

                Have a look at the generated code in `mott.js`

                This site is built using mott.


        h2 cookbook

        h2 recipes

        h2 why
