html
    head
        title mott - get things done.
        link(href="app.css", rel="stylesheet")
    body

    div.container-narrow

        div.masthead
            ul.nav.nav-pills.pull-right
                li
                    a(href="#")
                        small Home
                li
                    a(href="#")
                        small About
                li
                    a(href="#")
                        small Contact
        h3.muted mott

        hr

        div.jumbotron
            h1 mott
            p.lead
                | Build stuff faster.
            a.btn.btn-large(href="#") github

        hr

        div.row-fluid.marketing
            div.span12
                h2 start
                pre
                    code mkdir myapp && npm install -g mott && mott

                p Have a look at the generated code in `mott.js`

                p This site is built using mott.

        hr

        div.row-fluid.marketing
            div.span12
                h2 cookbook
                p
                    | The cookbook ties everything together.
                    | Because you could have multiple apps running at once,
                    | the cookbook handles making a single view of the world for
                    | for you.


                h2 recipes

                p
                    | Oh recipes...

    script(src="socket.io/socket.io.js")
    script(src="app.js")