html
    head
        title mott - get things done.
        link(href="app.css", rel="stylesheet")
    body

    div.container-narrow

        div.row-fluid
            ul.nav.nav-pills.pull-right
                li.active
                    a(href="#") Home
                li
                    a(href="#") About
                li
                    a(href="#") Contact

        hr


        div.jumbotron
            h1 mott
            p.lead
                | Build stuff faster.
            a.btn.btn-large.btn-success(href="#") github

        hr

        div.row-fluid.marketing
            div.span12
                h2 start
                pre
                    code mkdir myapp && npm install -g mott && mott

                p Have a look at the generated code in `mott.js`

                p This site is built using mott.

        hr

        div.row-fluid.marketing
            div.span12
                h2 docs

                h3 why

                h3 cookbook

                h3 recipes


