html
    head
        title mott - build faster.
        link(href="app.css", rel="stylesheet")
    body

    div.container
        div.row-fluid
            div#sidebar.span3
                div#sidebar-inner
                    h1 mott
                    p.lead
                        | build faster
                    p
                        | more than just a static site generator,
                        | compose your applications and use all your
                        | new found free-time on bespoke SOAP API's.

                    iframe(src="http://ghbtns.com/github-btn.html?user=imlucas&repo=mott&type=watch&count=true", allowtransparency="true", frameborder="0", scrolling="0", height="22")

                    a.twitter-follow-button(href="https://twitter.com/__lucas", data-show-count="false")

            div#content.span9
                div.row-fluid
                    div.span12
                        include ../../README.md

    script(src="socket.io/socket.io.js")
    script(src="app.js")
    script(src="//platform.twitter.com/widgets.js")
