html
    head
        title mott - build faster.
        link(href="app.css", rel="stylesheet")
    body


    div.container-narrow

        div.wrap

            div.jumbotron
                h1 mott
                p.lead
                    | build faster.

                p
                    | more than just a static site generator

            div.row-fluid.marketing
                div.span12
                    h2 start

                    pre
                        code mkdir myapp && npm install -g git://github.com/imlucas/mott.git && mott

                    :markdown

                        Have a look at the generated code in the generated `mott.js` file.
                        This site is built using mott.

                    p
                        | mott was originally created to help build the exfm phonegap
                        | app.  it started out as a dozen or so grunt.js tasks.
                        | after open sourcing it, i realized there was a lot about
                        | that code that stunk; too fragile, too coupled to the
                        | exfm architecture, not reusable.  It could do more.

                    p
                        | originally i didn't want mott.  i justed wanted something
                        | that fit my work flow.  after months of bending other tools,
                        | i took some time to tear the original code down and
                        | figure out what it was i actually wanted.

                    ul
                        li reuse amazing modules
                        li make the configuration as reusable as any other module

                    p
                        | the features i originally wanted

                    ul
                        li browserify to simplify dependecy management
                        li robust client side templating
                        li `lang.json` support
                        li compress design assets
                        li incremental deploys to S3
                        li smoke test before deploying with `PhantomJS`
                        li helpers for debugging, particularly on mobile (`weinre`, `chrome debugger`)
                        li rebuild/reload on change

                    p
                        | the point here is not just to create make in javascript.
                        | there are plenty of solutions that already do that.
                        | the raison d'etre of mott is to modularize the
                        | boilerplate and the configuration of that boilerplate.



            div.row-fluid.marketing
                div.span4
                    h4 this site
                    p Simple jade templates, less, and bootstrap

                div.span4
                    h4 phonegap
                    p less, browserify, and cordova

                div.span3
                    h4 hmmm
                    p dont know yet

    script(src="socket.io/socket.io.js")
    script(src="app.js")