html
    head
        title mott - build faster.
        link(href="app.css", rel="stylesheet")
    body


    div.container-narrow

        div.wrap

            div.jumbotron
                h1 mott
                p.lead
                    | build faster.

                p
                    | more than just a static site generator

            div.row-fluid.marketing
                div.span12
                    h2 start
                    pre
                        code mkdir myapp && npm install -g git://github.com/imlucas/mott.git && mott

                    :markdown

                        Have a look at the generated code in the generated `mott.js` file.
                        This site is built using mott.


            div.row-fluid.marketing
                div.span4
                    h4 This site
                    p Simple jade templates, less, and bootstrap

                div.span4
                    h4 Phonegap
                    p Less, browserify, and cordova

                div.span3
                    h4 HMmm
                    p Dont know yet






    script(src="socket.io/socket.io.js")
    script(src="app.js")