doctype xml

doctype plist

- var ipaUrl = url('/ipa/' + version + '.ipa');
plist(version="1.0")
    dict
         key items
         array
             dict
                 key assets
                 array
                     dict
                         key kind
                         string software-package
                         key url
                         string #{ipaUrl}

                 key metadata
                 dict
                     key bundle-identifier
                     string #{namespace}
                     key bundle-version
                     string #{version}
                     key kind
                     string software
                     key title
                     string #{title}