html
    head
        title Install


        body
            header
                h1 {{name}} ({{version}})

            ol
                li a(href="") install provisioning file
                li a(href="") install app

            footer
                small You only need to install the provisioning file the first
                | time you install the app or if it expires.